* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.slideshow {
    position: relative;
    width: 8in;
    min-height: 4in;
    border-style: solid;
    border-width: 1px;
    padding: 1em 1em 1em 1em;
}

.slide h2 {
    width: 80%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.navigation {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.logo {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40%;
}

.slide ul, .slide ol {
    padding-left: 1em;
    padding-top: 1em;
}

.slide li:not(:first-child) {
    padding-top: 1em;
}

.unrevealed {
    color: rgb(200, 200, 200);
}

.revealed {
    color: black;
}